<h1>Listing wells</h1>

<table>
  <tr>
    <th>UWI</th>
    <th>Name</th>
    <th>Count</th>
  </tr>

<% @wells.each do |well| %>
  <tr>
    <td><%= well.i %></td>
  </tr>
  <tr>
    <td><%= well.d %></td>
  </tr>
  <tr>
    <td><%= well.c unless well.c.nil? %></td>
  </tr>
  <tr>
    <td><%= link_to 'Show', well.i %></td>
  </tr>
<% end %>
</table>

<br />
