<div id="co-wrapper">
    <div id="masthead">
      <div class="title">Wells In My Back Yard</div>
        <a href="https://www.etriever.com">
          <div id="logo-nav"></div>
        </a>
        <a href="http://energy.ihs.com/products/etriever/index.htm">
          <div id="mastail">&nbsp;</div>
        </a>
    </div> <!-- end of masthead -->
</div><!-- end of co-wrapper -->
<div id="panel">
  <a href="#" id="panel-tab">Close</a>
  <%= image_tag 'derrick.jpg' %>
  <h2></h2>
  <ul>
      <li class='uwi'></li>
      <li class='operator'></li>
      <li class='status'></li>
      <li class='date'></li>
  </ul>
</div>

