<div id="co-wrapper">
    <div id="masthead">
      <div class="title">Wells In My Back Yard</div>
        <a href="https://www.etriever.com">
          <div id="logo-nav"></div>
        </a>
        <a href="http://energy.ihs.com/products/etriever/index.htm">
          <div id="mastail">&nbsp;</div>
        </a>
    </div> <!-- end of masthead -->
</div> <!-- end of co-wrapper -->
